<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>用户查询</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="/resources/dist/css/AdminLTE.min.css">
    <link rel="stylesheet" href="/resources/dist/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="/resources/bootstrap/css/bootstrap.min.css">
</head>

<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">


    <header id="header" class="main-header"></header>
    <aside id="sidebar" class="main-sidebar"></aside>

    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                &nbsp;
                <small>&nbsp;</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i>系统管理</a></li>
                <li class="active">机构管理</li>
            </ol>
        </section>

        <section class="content">
            <div id="success" class="alert alert-success" style="display: none;"></div>
            <div id="fail" class="alert alert-danger" style="display: none;"></div>
            <div class="row">
                <div class="box">
                    <div class="content_wrap">
                        <div class="box-header with-border ">
                            <div class="col-xs-1 pull-right">
                                <button id="new" type="button" class="btn btn-primary">新建</button>
                            </div>
                        </div>
                    </div>
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">机构</h3>
                        </div>
                        <div class="box-body">
                            <table id="myOrgs" class="table table-bordered">
                                <thead>
                                <th>名称</th>
                                <th>ID</th>
                                <th>#</th>
                                </thead>
                                <tbody id="orgs">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <footer id="footer" class="main-footer"></footer>
</div>

<script src="/resources/plugins/jQuery/jquery-2.2.3.min.js"></script>
<script src="/resources/bootstrap/js/bootstrap.min.js"></script>
<script src="/resources/plugins/fastclick/fastclick.js"></script>
<script src="/resources/dist/js/app.min.js"></script>
<script src="/resources/c/org/list.js"></script>
<script src="/resources/bootstrap/extend/js/jquery.cookie.js"></script>
<script type="text/javascript" src="/resources/bootstrap/extend/js/jquery.treetable-ajax-persist.js"></script>
<script type="text/javascript" src="/resources/bootstrap/extend/js/jquery.treetable-3.0.0.js"></script>
</body>
</html>
