<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>用户查询</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../../resources/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="../../resources/dist/css/AdminLTE.min.css">
    <link rel="stylesheet" href="../../resources/dist/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="../..//resources/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../resources/bootstrap/extend/css/util.css">

    <!--<script src="/resources/bootstrap/extend/js/jquery-3.1.1.min.js"></script>-->
    <!--<script src="/resources/bootstrap/js/bootstrap.min.js"></script>-->
    <!--<script src="/resources/bootstrap/extend/js/jquery.cookie.js"></script>-->
    <script src="/resources/c/user/list.js"></script>
</head>

<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">


    <header id="header" class="main-header"></header>
    <aside id="sidebar" class="main-sidebar"></aside>

    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                &nbsp;
                <small>&nbsp;</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i>系统管理</a></li>
                <li><a href="#">用户管理</a></li>
                <li class="active">用户列表</li>
            </ol>
        </section>

        <section class="content">
            <div class="row">
                <div class="box">
                    <div class="box-body">
                        <table class="table table-bordered">
                            <tr>
                                <th style="width: 10px">#</th>
                                <th>姓名</th>
                                <th>用户名</th>
                                <th style="width: 40px">Label</th>
                            </tr>
                        </table>
                    </div>
                    <div class="box-footer clearfix">
                        <ul class="pagination pagination-sm no-margin pull-right">
                            <li><a href="#">&laquo;</a></li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">&raquo;</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <footer id="footer" class="main-footer"></footer>
</div>

<script src="../../resources/plugins/jQuery/jquery-2.2.3.min.js"></script>
<script src="../../resources/bootstrap/js/bootstrap.min.js"></script>
<script src="../../resources/plugins/fastclick/fastclick.js"></script>
<script src="../../resources/dist/js/app.min.js"></script>
<script src="../../resources/c/index.js"></script>
</body>
</html>
